.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  margin-top: 40px;
}

.listItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  border-radius: 12px;
  color: #474747;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;

  transition:
    background 0.2s,
    color 0.2s;
}

.listItem {
  padding: 12px 14px;
}

.dropdownItem {
  padding: 12px 16px;
}

.listItem:hover {
  background: #f3f0ff;
  color: #6a0bff;
}

.listItem:hover .dropdownIcon path {
  stroke: #6a0bff;
}

.active {
  background: #f8f8f8;
  color: #6d28ff;
}

ul {
  list-style: none;
  padding: 0;
}
