.dropdownCont {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdownBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 12px;
  color: #474747;
  transition: color 0.2s;
}

.dropdownBtn:hover {
  color: #6a0bff;
}
.dropdownBtn:hover svg,
.dropdownItem:hover svg {
  stroke: #6a0bff;
}
.arrowIcon {
  stroke: currentColor;
}

.arrowIcon {
  margin-left: auto;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.showArrow {
  transform: rotate(180deg);
}

.dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease;
}

.show {
  grid-template-rows: 1fr;
  padding-bottom: 12px;
}

.dropdownList {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 12px;
  text-decoration: none;
  color: #191919;
  background-color: #f0e7ff;
  transition:
    background 0.2s,
    color 0.2s;
}

.dropdownItem:hover {
  background-color: #ede3ff;
  color: #6a0bff;
}
