.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19.5px 20px 18.5px 20px;
  border-bottom: 1px solid #e8e8e8;
}
.button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
