.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 18px;
  padding: 12px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 0;
  border-radius: 12px;
  border: none;
  background: none;
  font-weight: 600;
  cursor: pointer;
}
.buttonSupport {
  color: #fff;
  background-color: #6a0bff;
  transition: all 0.3s;
}
.buttonSupport:hover {
  background-color: #5f0ae6;
}
.buttonExit {
  color: #f3164e;
  border: 1px solid #f3164e;
  transition: all 0.3s;
}
.buttonExit:hover {
  background-color: #f3164e;
  color: #fff;
}
.buttonExit:hover svg path {
  stroke: #fff;
}
