.container {
  display: grid;
  grid-template-columns: 1fr minmax(328px, 360px);
  gap: 20px;
  align-items: start;
}
.questions {
  background-color: #fff;
  padding: 24px;
  border-radius: 24px;
}
.questions h1 {
  margin-bottom: 41px;
  font-size: 24px;
  line-height: 1.2;
}
.questions ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
