.header {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.container {
  display: flex;
  align-items: center;
  gap: 24px;
}
.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.icon {
  color: #5e5e5e;
}
